$grid-columns: 12;
$vertical-pad-base: 14px;

$button-base-vertical-padding: 12px;
$button-base-horizontal-padding: 16px;

////// Colors
$primary: #008260;
$secondary: #594D7B;

$darker-gray: #4A5451;
$dark-gray: lighten(#4A5451, 10%);
$gray: lighten(#4A5451, 20%);
$light-gray: lighten(#4A5451, 30%);
$lighter-gray: lighten(#4A5451, 40%);

$body-font: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-line-height: 1.6;
$body-font-size: 1.5em;
$body-color: $gray;
$grid_breakpoint_space: 40;

$heading-font: 'Playfair Display', Georgia, serif;
