
.logo {
  width: 194px;
  height: 61px;
  background-repeat: no-repeat;
  background-image: url('../assets/dist/images/logo.svg');
}

.masthead {
  position: relative;
  overflow: hidden;
  height: 535px;
  .col-md-6 {
    position: absolute;
    height: 100%;
    padding: 30px;
    background-color: rgba(#fff,.98);
    .hero-cta {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 510px;
      h2 {
        font-size: 40px;
      }
    }
  }
  img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
  }
}

.off-white-section {
  background-color: $off-white;
  padding: 50px 0;
  .row {
    margin: 20px 10px;
  }
  .container {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(#111, .12);
    .content-img {
      overflow: hidden;
      img {
        min-width: 150%;
      }
    }
    .vertc-parent {
      min-height: 380px;
      &.col-md-8 {
        .vertc-child {
          padding: 10px 50px;
          h3 {
            font-size: 30px;
          }
          p {
            margin-bottom: 5px;
          }
        }
      }
    }
    &.services {
      overflow-x: hidden;
      .col-md-fw-4 {
        position: relative;
        left: 66%;
        @media (max-width: $screen-sm-max) {
          left: 0;
        }
      }
      .pull-content {
        position: relative;
        right: 34%;
        @media (max-width: $screen-sm-max) {
          right: 0;
        }
      }
    }
  }
}
